@import "tailwindcss";

body {
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* Utility classes for fonts */
.font-main {
  font-family: "Fraunces", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.font-secondary {
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}